.button{
        padding: 1rem 1.2rem;
        border-radius: 1.2rem;
        border: none;
        font-weight: 600;
        translate: all 0.3s ease-in-out;
       

        &.primary{
             background-color: royalblue;
        cursor: pointer;
        color:white;
        }

        &:active{
            transform: scale(0.96);
        }
    }