*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: black;
}


body{
  padding: 20px;
}

.notes{
  height: 100%;
  width: 100%;
  padding: 20px;
}

.notes{
  height:80%;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap:10px;
}

.note{
  height: fit-content;
  width: 200px;
  background-color: gray;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.note button{
  background-color: red;
  padding: 5px 10px;
  color:white;
  cursor: pointer;
  box-shadow: none;

}

.note-create{
  display: flex;
  gap: 20px;
}

.note-create input{
  font-size: 30px;
  padding: 20px 40px;
}

.note-create button{
  padding: 0px 20px;
  border-radius: 20px;
  background-color: greenyellow;
  font-size: 20px;
  cursor: pointer;
}

.note-create button:active{
  scale: 0.95;
}